.react_playground_container {
	min-width: 200px;
	max-width: 400px;
	// display: flex;
	// flex-direction: column;
}

.react_playground_container__node {
	display: flex;
	justify-content: flex-start;
}
